body {
  background-color: #ffe6f0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #333;
}

.highlighted {
  background-color: #fff0f5;
  border: 2px solid #ffb6c1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
